header {
    padding: 1rem 2rem;
}

header .row{
    border-bottom: 1px solid #000;
}

.logo,
nav a,
.about{
    font-family: 'Roboto', sans-serif;
    color: #719CFF;
}

.logo {
    font-size: 3rem
}

nav {
    margin-top: 1rem;
}

nav a {
    font-size: 1.2rem;
    transition: color 0.5s ease;
}
nav a:hover {
    color: #003cc6;
}


.about {
    padding-top: 2rem;
    height: 600px;
}

.about .row .col-6 {
    text-align: right;
}

.about-text h1 {
    font-size: 4rem;
}

.about-text {
    padding-left: 50px !important;
    padding-top: 250px;
    font-size: 1.8rem;
}

.about-img {
    max-width: 400px;
    margin-right: 2rem;
    border-radius: 20px;
} 

/* Projects */

.projects {
    background-color: #000;
    padding: 0 2rem;
    height: 600px;
}

.projects h2 {
    font-size: 2.3rem;
    text-align: center;
    padding: 3rem 0;
    color: #719CFF;
}
.projects a:hover {
    text-decoration: none;
}

.card {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease;
    width: 25rem;
    margin: 0 auto;
    color: #719CFF;
}

.card:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.project-col {
    text-align: center;
}

footer {
    padding: 1rem 2rem;
    background-color: #000;
    border-top: 1px solid #fff;
}

.footer-link {
    margin-bottom: 0;
}

.footer-link:first-child {
    margin-bottom: .5rem;
}

.footer-link a{
    color: #fff;
    transition: color 0.5s ease;
}

.footer-link a:hover {
    text-decoration: none;
    color: #719CFF;
}

.footer-link i {
    font-size: 1.3rem;
    padding-right: .3rem;
}
